<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Datos de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://127.0.0.1:3306/peliculasdb?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456789</property>

        <!-- Dialecto -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Configuración general -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Pool de conexiones sencillo -->
        <property name="connection.pool_size">5</property>

        <!-- Entidades -->
        <mapping class="org.example.javafx_hibernate.entity.Usuario"/>
        <mapping class="org.example.javafx_hibernate.entity.Pelicula"/>
        <mapping class="org.example.javafx_hibernate.entity.Copia"/>

    </session-factory>
</hibernate-configuration>
